@import "tailwindcss";
@import "@nuxt/ui";

/* Custom scrollbar for cleanliness */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #2c3928;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0984e3;
}

