@import "tailwindcss";

@import "@nuxt/ui";

/* Custom scrollbar for cleanliness */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #0984e3;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #026aa7;
}
